global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend consul
    bind *:8500
    default_backend consul_backend

backend consul_backend
    balance roundrobin
    server consul1 consul1:8500 check
    server consul2 consul2:8500 check
    server consul3 consul3:8500 check
